h1 {
	color: #52499A;
	text-align: center;
	font-family: verdana;
}

.container {
	border:15px solid red;
	width: 800px;
	height: 530px;
	margin: 0 auto;
	color: white;
	text-align: center;
	word-spacing: 10px;
	margin-top: 10px;
}
 
 
 }
li {
	display: inline-block;
	list-style-type: none;
	float: right;
	padding: 10px;
	border: 1px solid pink;
	margin: 5px;
	background-color: grey;
}

.header {
	background-color: #52499A;
	height: 80px;
	width: 700px;
	margin: 0 auto;
	margin-top: -10px;
}

.aside {
	background-color: #52499A;
	height: 80px;
	width: 150px;
	margin-left: 50px;
	margin-top: -10px;
}

.nav {
	background-color: #52499A;
	height: 80px;
	width: 150px;
	margin-left: 50px;
	margin-top: -10px;

}

.main {
	background-color: #52499A;
	height: 165px;
	width: 350px;
	margin-right: 50px;
	margin-top: -80px;
	position: relative;
	float: right;
}

.section {
	background-color: #52499A;
	height: 170px;
	width: 700px;
	margin-left: 50px;
	margin-top: -10px;
}

.footer {
	background-color: #52499A;
	height: 80px;
	width: 700px;
	margin-left: 50px;
	margin-top: -10px;
}

p {
	top: 15px;
	position: relative;
	color: red;
	font-weight: bold;
	font-family: verdana;

}

body {
	background: linear-gradient(45deg, #7FFFFF, #FFFF55 );
}

.container2 {

	border:15px solid red;
	width: 800px;
	height: 800px;
	margin: 0 auto;
	color: white;
	text-align: center;
	word-spacing: 10px;
	margin-top: 10px;
}

.one {
	background-color: #52499A;
	height: 516px;
	width: 253px;
	margin-top: -10px;
	margin-left: 10px
}
.two {
	background-color: #52499A;
	float: right;
	height: 258px;
	margin-top: -516px;
	margin-right: 10px;
	width: 516px;
}
.three {
	background-color: #52499A;
	float: right;
	height: 248px;
	margin-top: -248px;
	margin-right: 273px;
	width: 253px;
}

.four {
	background-color: #52499A;
	float: right;
	height: 516px;
	margin-top: -248px;
	margin-right: 10px;
	width: 253px;
}

.five {
	background-color: #52499A;
	height: 258px;
	margin-top: -6px;
	margin-left: 10px;
	width: 516px;
}

.rol {
	
	transform: scale(0.72);
	
}

.rol2 {
	transform: rotate(45deg);
}

.container3 {
    background-color: white;
    border:15px solid red;
	width: 930px;
	height: 310px;
	margin: 0 auto;
	color: white;
	text-align: center;
	word-spacing: 10px;
	margin-top: 10px;
    
}

.onee {
    width: 300px;
    height: 70px;
    background-color: #3BBCED;
    margin: 5px;
    float: left;
}

.twoo {
    width: 300px;
    height: 70px;
    background-color: #777777;
    margin: 5px;
    float: left;
}

.threee {
    width: 300px;
    height: 70px;
    background-color: #3BBCED;
    margin: 5px;
    float: left;
}

.conc {
    width: 920px;
    background-color: #777777;
    height: 150px;
    clear: both;
    margin: 5px;
}

.fourr {
    width: 435px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 5px;
    height: 50px;
    border: 1px solid white;
    float: left;
    
}

.fivee {
    width: 435px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    height: 50px;
    border: 1px solid white;
    float: left;   
}

.six {
    width: 435px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 5px;
    height: 50px;
    border: 1px solid white;
    float: left;
}

.seven {
    width: 435px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 50px;
    border: 1px solid white;
    float: left;
}

.eight {
    width: 300px;
    height: 70px;
    background-color: #3BBCED;
    margin: 5px;
    float: left;
    margin-top: 0px;
}

.nine {
    width: 300px;
    height: 70px;
    background-color: #777777;
    margin: 5px;
    float: left;
    margin-top: 0px;
}

.ten {
    width: 300px;
    height: 70px;
    background-color: #3BBCED;
    margin: 5px;
    margin-top: 0px;
    float: left;
}
